Source: bbcarchdev-keys
Section: admin
Priority: important
Maintainer: Mo McRoberts <mo.mcroberts@bbc.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://confluence.dev.bbc.co.uk/display/ADOPS
Vcs-Git: git://github.com/bbcarchdev/deb-bbcarchdev-sandbox.git
Vcs-Browser: https://github.com/bbcarchdev/deb-bbcarchdev-sandbox

Package: bbcarchdev-keys
Architecture: any
Depends: ${misc:Depends}, ca-certificates, apt, debian-archive-keyring
Description: BBC Archve Development keyring
 This package contains public keys and certificates used by BBC Archive
 Development.
